extends layout
block content
    h1= title

    p Even if you are not logged in, you can see the database contents!

    p #{databaseContents}
    table(id="databasePyjama" class="table table-striped")
        tr
            th User id
            th Data
        if pollsAnswers
            for poll in pollsAnswers
                tr
                    td
                       span &lt;
                       = poll.user
                       span &gt;
                    td
                        span &lt;
                        = JSON.stringify(poll)
                        span &gt;
