extends layout
block content
    h1= title
    p Welcome to #{title}

    form
        label user
            input(id="user" )
        label password
            input(id="pass" type="password")

    p Even if you are not logged in, you can see the database contents!

    p #{databaseContents}
    table(id="databasePyjama" style="border: 1px solid")
        for poll in pollsAnswers
            tr
                td(style="border: 1px solid")
                   span &lt;
                   = poll.user
                   span &gt;
                td(style="border: 1px solid")
                    span &lt;
                    = JSON.stringify(poll)
                    span &gt;
