footer(class="navbar-fixed-bottom")
    div(class="container")
        p(class="text-muted") &nbsp;&nbsp; EPFL.Polls // fork me on &nbsp;
            a(href="https://github.com/domq/epfl.polls") github
            span &nbsp;//&nbsp;
            a(href="http://commons.wikimedia.org/wiki/Farm-Fresh_Web_Icons") iconset
            span &nbsp;//&nbsp;Made in a&nbsp;
            a(href="http://codingdojo.org/") dojo
            span &nbsp;@
            a(href="http://www.epfl.ch") epfl
