extends layout

block content
  h1= title
  p Welcome to #{title}

  block poll
    h1 Sortie d'équipe
    p Quel(s) genre(s) d'activité(s) préférez-vous pour la sortie d'équipe ?

    img(src="http://personales.unican.es/iglesias/images/conference.gif")

    form
      ul(id="sortable")
        li(class="team")
          label activité en équipe (karting, etc)
          textarea
        li(class="food")
          label restaurant
          textarea
        li(class="conf")
          label conférence
          textarea
        li(class="sport")
          label activité sportive
          textarea
