extends layout

block content
  h1= title
  p Welcome to #{title}

  block poll
    h1 Sortie d'équipe
    p Quel(s) genre(s) d'activité(s) préférez-vous pour la sortie d'équipe ?

    form(action="/submit" method="post")
      ul(id="sortable")
        li(id="team")
          label activité en équipe (karting, etc)
          textarea
        li(id="food")
          label restaurant
          textarea
        li(id="conf")
          label conférence
          textarea
        li(id="sport")
          label activité sportive
          textarea
      input(type="text" name="user")
      input(type="button" id="btnSubmit")