//
   Created by dom on 30.01.15.

extends layout
block content
    h1= title
    p Welcome to #{title}

    table(id="databasePyjama" class="table table-striped")
        tr
            th Type
            th Vote Number
        if results
            for  result in results
                tr
                    td #{result._id}
                    td #{result.value}
