//
   Created by dom on 30.01.15.

extends layout
block content
    h1= title
    p Welcome to #{title}

    table

        for  result in results
           tr
                td #{result._id}
                td #{result.value}