a {
  color: #00b7ff;
}
.centered {
  text-align: center;
}
form ul {
  list-style: none;
}
form li {
  height: 60px;
  border: 1px solid #f00;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 70px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 14px 14px;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  -webkit-filter: grayscale(1.0);
  color: #000;
  cursor: move;
  display: block;
}
form label {
  margin-right: 10px;
  background-color: #fff;
  cursor: inherit;
  color: #05f;
}
form li:hover {
  filter: none;
  -webkit-filter: none;
}
li#sba {
  background-image: url("/images/Farm-Fresh_google_adsense.png");
}
li#jma {
  background-image: url("/images/Farm-Fresh_toolbox.png");
}
li#sne1 {
  background-image: url("/images/Farm-Fresh_plugin.png");
}
li#sne2 {
  background-image: url("/images/Farm-Fresh_brick_link.png");
}
li#sne3 {
  background-image: url("/images/Farm-Fresh_android.png");
}
li#sne4 {
  background-image: url("/images/Farm-Fresh_gruppe5.png");
}
li#sne5 {
  background-image: url("/images/Farm-Fresh_server_components.png");
}
li#sne6 {
  background-image: url("/images/Farm-Fresh_pi_math.png");
}
li#sne7 {
  background-image: url("/images/Farm-Fresh_toucan.png");
}
li#sne8 {
  background-image: url("/images/Farm-Fresh_scripts.png");
}
li#dqu {
  background-image: url("/images/Farm-Fresh_cards.png");
}
li#nbo1 {
  background-image: url("/images/Farm-Fresh_google_adsense.png");
}
li#nbo2 {
  background-image: url("/images/Farm-Fresh_storage.png");
}
li#nbo3 {
  background-image: url("/images/official-repository-icon.png");
}
#content {
  padding: 40px 25px 0px 25px;
}
.navbar-fixed-bottom {
  background-color: #f5f5f5;
}
.navbar-fixed-bottom > .container {
  padding-right: 15px;
  padding-left: 15px;
}
