grayscale()
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  -webkit-filter unquote("grayscale(1.0)")

nograyscale()
  filter none
  -webkit-filter none

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

form li
  border 1px solid red
  border-radius 10px
  margin-bottom 15px
  padding 10px 10px 10px 70px
  background-color white
  background-repeat no-repeat
  background-size 50px 50px
  grayscale()

form ul
  background-color chartreuse
  list-style none

form label
  margin-right 10px
  background-color #ffffff
  cursor inherit

form li:hover
  nograyscale()

li
  background-repeat no-repeat
  background-size 50px 50px
  height 30px
  cursor: move;

li.conf
  background-image url(http://personales.unican.es/iglesias/images/conference.gif)

li.food
  background-image url(https://d1nept1345ks2.cloudfront.net/static/images/food_groups/fast_food.jpg)

li.sport
  background-image url(http://www.sportchaser.com/imgslt/sport9.png)

li.team
  background-image url(http://ecx.images-amazon.com/images/I/51YZfbG7TxL._SL75_SS50_.jpg)

textarea
  float right