body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
img {
  filter: grayscale(0.5) blur(10px);
}
form li {
  border: 1px solid #f00;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 70px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
form ul {
  background-color: #7fff00;
  list-style: none;
}
form label {
  margin-right: 10px;
  background-color: #fff;
  cursor: inherit;
}
form li:hover,
li {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 30px;
  cursor: move;
}
li.conf {
  background-image: url("http://personales.unican.es/iglesias/images/conference.gif");
}
li.food {
  background-image: url("https://d1nept1345ks2.cloudfront.net/static/images/food_groups/fast_food.jpg");
}
li.sport {
  background-image: url("http://www.sportchaser.com/imgslt/sport9.png");
}
li.team {
  background-image: url("http://ecx.images-amazon.com/images/I/51YZfbG7TxL._SL75_SS50_.jpg");
}
textarea {
  float: right;
}
